@if (user != null) {

  <div class="row">
    <div class="col">
      <div>
        <h1>{{ user.firstName }} {{ user.lastName }}</h1>
        <img src="{{imageService.getImageElement(user.profileImage!)}}" width="200px" height="200px" alt="profile image">
      </div>

      <div>{{ user.bio }}</div>

    </div>

    <div class="col">
      <div id="content">
        @for (post of posts; track post.uuid) {
          <app-post [post]="post"></app-post>
        }
      </div>
    </div>
  </div>


} @else {
  <app-loading-page/>

}
