<form [formGroup]="profileForm" (ngSubmit)="login()">
  <input type="email" formControlName="email"/>
  <br>
  <input type="password" formControlName="password"/>
  <br>
  <button type="submit">Submit</button>
</form>

<ol>
  <div>Accounts: </div>
  <li>teddysmith&#64;gmail.com</li>
  <li>johndoe&#64;gmail.com</li>
  <li>janedoe&#64;gmail.com</li>
  <li>bobsmit&#64;gmail.com</li>
  <li>Password: abc</li>
</ol>

<button (click)="refresh()">Test refresh token</button>

<a routerLink="/authentication/register">Sign up for SocialMediaApp</a>
