<div class="d-flex justify-content-center align-items-center">

  <div class="pt-5">

    <form [formGroup]="profileForm" (ngSubmit)="login()">
      <input type="email" formControlName="email"/>
      <br>
      <input type="password" formControlName="password"/>
      <br>
      <div class="d-flex justify-content-between">

        <button type="submit">Login</button>
        <button (click)="useRandomAccount()">Random account</button>

      </div>
    </form>

    <div class="pt-5">
      <a routerLink="/authentication/register">Sign up for SocialMediaApp</a>
    </div>
  </div>

</div>
